[submodule "experimental/iterators/third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/ingomueller-net/llvm-project.git
[submodule "third_party/triton"]
	path = third_party/triton
	url = https://github.com/openai/triton.git
