# Python
*.pyc

# Visual Studio files
.vs/
.vscode/
.env
*.sdf
*.opensdf
*.VC.opendb
*.suo
*.user

# macOS files
.DS_Store

# Emacs autosaves
*~
\#*\#

# Vim swap files
[._]*.sw[a-p]

# Source indexing files
compile_commands.json
.cache/clangd
.clangd/

# build dirs
*build*/
./runners/build*/

# Benchmark dir
benchmarks/

# lit files
.lit_test_times.txt
Output/
