# MLIR dependencies.
-r third_party/llvm-project/mlir/python/requirements.txt

# Testing.
datafusion==32.0.0
duckdb
ibis==3.3.0
ibis-framework==8.0.0
ibis-substrait==3.2.0
lit
pyarrow

# Plotting.
pandas
matplotlib
