-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
-f https://github.com/google/iree/releases
--pre

# MLIR dependencies.
numpy
pybind11
PyYAML

# IREE Python API.
# TODO: Enable once available again.
# iree-compiler-snapshot
# iree-runtime-snapshot
torch
torchvision
torchaudio

# Testing.
lit

# Plotting.
pandas
matplotlib
seaborn
