-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
-f https://github.com/google/iree/releases
--pre

# MLIR dependencies.
numpy
pybind11>=2.8.0
PyYAML
dataclasses

# IREE Python API (build from source).

# Other.
torch
torchvision
torchaudio

# Testing.
lit

# Plotting.
pandas
matplotlib
seaborn

# Tuning.
nevergrad
prwlock
