[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# MLIR dependencies.
numpy = "*"
pybind11 = ">=2.8.0"
pyyaml = "*"
dataclasses = "*"

[dev-packages]

# Testing.
lit = "*"

# Benchmarks and plotting.
pandas = "*"
matplotlib = "*"

[requires]
python_version = "3.10"
